.answerchoice {
    border: 1px solid black;
    border-radius: 5%;
    width: 40%;
    color: black;
    text-align: center;
    margin: 10px auto;
    font-size: 20px;
    background-color: white;
}

img {
    max-height: 250px;
    width: auto;
}

#answerblock {
    text-align: center;
    font-family: 'Staatliches', cursive;
}

#questionblock {
    text-align: center;
    font-weight: bold;
    font-family: 'Staatliches', cursive;
}

#reset {
    visibility: visible;
}

body {
    background-image: url("../images/pikachu_00378636.jpg");
    background-size: cover;
    font-family: 'Karla', sans-serif;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    
}

h1 {
    text-align: center;
    color: rgb(172, 27, 27);
    font-weight: bolder;
    padding: 20px;
    font-size: 45px;
    font-family: 'Staatliches', cursive;
}

p {
    margin: 10px;
    font-weight: bold;
    color: red;
    font-size: 20px;
}

h2,
h4 {
    margin: 30px;
    font-weight: bold;
}

.wrapper {
    margin: 10px auto;
    background-color: rgba(173, 165, 165, 0.884);
    border: 2px solid #5b5b5f;
    height: 500px;
    width: 60%;
    text-align: center;
}

.btn {
    position: relative;
    bottom: -150px;
    /* background-color: red; */
    font-family: 'Staatliches', cursive;
}

html {
    font-family: 'Staatliches', cursive;
}

#timeleft {
    font-family: 'Staatliches', cursive;
}